{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div>
<h1>Votre panier</h1>
{% if panier is empty %}
    <p>Votre panier est vide.</p>
{% else %}
    <ul>
        {# {% for productId, quantity in panier %} #}
        {% for produit in panier %}

        {# {% set produit = produit[productId]%} #}

            <li>{{ produit.nom }}</li>
            <li>{{ produit.prix }}</li>
            <li>{{ produit.quantite }}</li>

        {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}
