{% extends 'base.html.twig' %}

{% block title %} FAQ {% endblock %}

{% block body %}

<div class="static">Foire Aux Questions MyEco Montre</div>

    <div class="faq-content">
      <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q1" class="panel-title">Comment s'inscrire sur le site ?</label>
        <!-- reponses -->
        <div class="panel-content"><p>Pour s'inscrire sur le site, il faut que l'utilisateur se créer un compte. L'inscription se fait avec une adresse e-mail et un mot de passe. </p>
        </div>
      </div>
      
      <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <div class="plus">+</div>

        <!-- question -->
        <label for="q2" class="panel-title">J'ai oublié mon mot de passe !</label>
        <!-- reponses -->
        <div class="panel-content"><p>Pas de panique ! Il suffit de cliquer sur l'onglet "Mot de passe oublié" et un e-mail de réinitialisation vous sera envoyé dans votre boite mail. Il suffit ensuite de se laisser guider par les instructions, de recréer un nouveau de passe et le tour est joué ! </p></div>
      </div>
      
      <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <div class="plus">+</div>

        <!-- question -->
        <label for="q3" class="panel-title">Comment être au courant de l'actualité de MyEco Montre ?</label>
        <!-- reponses -->
        <div class="panel-content"><p>Chaque semaine, MyEco Montre diffuse via son site internet et ses réseaux sociaux les nouveautés et les tendances du moment. Il suffit de rester brancher sur nos réseaux et tout sera communiquer.</p>
            &nbsp; <a href="https://myecomontre.fr" target="_blank">Lien du site</a></div>
      </div>
    </div>

    <div class="faq-question">
        <input id="q4" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q4" class="panel-title"><p>Ma montre est cassée et je souhaite la faire réparer, comment dois-je faire ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Pour cela, je contacte le service après-vente en remplissant une demande de contact dans le formulaire mis à disposition. Une fois le formulaire rempli, je serais contacté par MyEco Montre afin de pouvoir être mis en relation avec le SAV et pouvoir régler mon problème.</p></div>
      </div>

      <div class="faq-question">
        <input id="q5" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q5" class="panel-title"><p>J'aimerais échangé une montre que je viens d'acheter car je n'aime pas le produit, comment faire ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Notre politique de retour est disponible ici &nbsp; <a href="" target="_blank">Mettre lien des CGV</a></p></div>
      </div>

      <div class="faq-question">
        <input id="q6" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q6" class="panel-title"><p>Ma montre a pris l’eau, est-ce un problème ?</p></label> 
        <!-- reponses -->
        <div class="panel-content"><p>Et non ! Nos montres ont comme caractéristique d'avoir une étanchéité supérieure à dix atm, l'équivalent de 100 mètres de colonnes d'eau. Donc idéal pour les amateurs de plongée sous-marine</p></div>
      </div>

      <div class="faq-question">
        <input id="q7" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q7" class="panel-title"><p>Combien de temps prend une réparation ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Une fois votre dossier pris en compte par nos techniciens, la réparation de la montre peut varier entre 5 et 10 jours en fonction de l'état de cassure.</p></div>
      </div>

      <div class="faq-question">
        <input id="q8" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q8" class="panel-title"><p>Comment entretenir ma montre ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>De manière générale, vous pouvez la nettoyer de temps en temps avec une brosse très souple (une vieille brosse à dents par exemple) et un peu d'eau savonneuse. Après avoir bien rincé la montre, nous vous recommandons de l'essuyer puis de la sécher avec un chiffon doux. </p></div>
      </div>

      <div class="faq-question">
        <input id="q9" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q9" class="panel-title"><p>Quand faut-il changer la pile de ma montre ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>La durée de vie d'une pile utilisée dans une montre à quartz classique est comprise en moyenne entre 18 à 36 mois. Lors de l'arrêt complet d'une montre à pile, il est fortement recommandé de la faire remplacer avant que celle-ci ne coule et endommage le mouvement.</p></div>
      </div>

      <div class="faq-question">
        <input id="q10" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q10" class="panel-title"><p>Ma réparation est-elle garantie ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Oui. Lors de l'achat de la montre, vous bénéficiez d'une garantie d'une durée totale de 1 an pour les réparations horlogères et 6 mois pour l’étanchéité. Chez MyEco Montre nous garantissons un travail de qualité !</p></div>
      </div>

      <div class="faq-question">
        <input id="q11" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q11" class="panel-title"><p>J'aimerais me faire livrer mon achat en Espagne est-ce possible ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Malheuresement non. Pour le moment, MyEco Montre livre ses produits uniquement en France métropolitaine et dans les Départements et Territoires d'Outre-Mer (DOM-TOM).</p></div>
      </div>

      <div class="faq-question">
        <input id="q11" type="checkbox" class="panel">
        <div class="plus">+</div>
        
        <!-- question -->
        <label for="q11" class="panel-title"><p>Cela fait maintenant 7 jours que j'ai passé commande et je n'ai toujours pas reçu mon colis. Que dois-je faire ?</p></label>
        <!-- reponses -->
        <div class="panel-content"><p>Pas de panique ! Il suffit de suivre votre commande avec le numéro de commande obtenu lors de l'achat éffectué sur le site. Vous suivrez l'itinéraire en temps et en heure du parcours de votre montre.</p></div>
      </div>

	{% endblock %}
