{% extends 'base.html.twig' %}

{% block title %} Livraison {% endblock %}

{% block body %}

 <div class="static">
    <div class="inner-width">
          
    <h2>Données personnelles – Avis de confidentialité</h2>

    <div class="border"></div>
    <div class="about-section-row">
    <div class="about-section-col">
    <div class="about">
    <p>Cette page explique comment les données personnelles («Données») que vous avez fournies via ce site Web et collectées par MyEco Montre («nous», «nous») seront traitées conformément aux lois et réglementations applicables. . Nous nous engageons à protéger et à respecter votre vie privée.</p>


    <h5>1. Comment obtenons-nous vos données?</h5> 
    <p>Les données que nous pouvons collecter, traiter et enregistrer sont les suivantes:<br>
    – Les Données que vous nous avez fournies pour recevoir un service spécifique ou dans le cadre de notre relation commerciale (telles que vos coordonnées, vos données commerciales, des informations financières ou techniques);<br>
    – Les données relatives à votre navigation sur notre site Web ou les Données résultant de votre interaction avec notre site Web;<br>
    – Biscuits<br>
    En général, ces données sont collectées directement auprès de vous, mais dans certains cas, nous pouvons collecter des données vous concernant auprès d’un tiers ou à partir de documents publics. Dans un tel cas, nous protégeons les données obtenues auprès de ces tiers conformément aux pratiques décrites dans le présent avis de confidentialité.</p>
    
    <h5>2. Comment utilisons-nous vos données?</h5>
    <p>Les Données collectées peuvent être traitées par nos soins aux fins suivantes:
    
    I. Répondre à toutes vos questions en vous fournissant des informations sur nos produits, nos services, nos offres ou notre réseau de vente;
    
    II. Pour établir, maintenir et développer la relation que nous entretenons avec vous;
    
    III. Sous réserve de l’obtention de votre consentement, pour nous permettre de vous envoyer nos newsletters, communications commerciales ainsi que des publicités sur nos produits et services ou pour effectuer des études de marché. Toutes ces opérations peuvent être effectuées sur des documents papier ou par des moyens automatisés ou électroniques, y compris par courrier ou e-mail, par téléphone (par exemple: appels téléphoniques automatisés, SMS, MMS) et tout autre moyen (par exemple: sites Internet, mobile applications): «ACTIVITÉS DE MARKETING»;
    IV. Sous réserve de votre consentement, pour nous permettre de partager vos données avec les affiliés de MyEco Montre et nos partenaires. Ces partenaires traiteront vos données afin de vous envoyer leurs communications commerciales ainsi que des publicités pour leurs produits et services.
    
    La licéité des traitements visés aux points (I) et (II) ci-dessus repose sur les bases juridiques de l’exécution du contrat et de la poursuite de nos intérêts légitimes, ainsi que sur celles visées aux points (III) et (IV) à propos de le consentement que vous nous avez donné. A cet effet, nous vous informons que vous êtes libre de retirer à tout moment le consentement que vous nous avez donné. Vos données peuvent être traitées électroniquement dans nos systèmes informatiques, ou manuellement, sur papier. Vos Données seront traitées de manière légale, équitable et transparente et conservées tout au long de leur période de conservation, afin que leur sécurité et confidentialité soient assurées conformément aux lois et réglementations applicables.</p>
    
    <h5>3. Conséquences du défaut de fournir des données</h5>
    <p>La communication de vos données n’est jamais obligatoire. Cependant, si vous ne fournissez pas les Données nécessaires pour fournir un service ou un produit, nous ne serons pas en mesure de garantir que vous êtes en mesure de vous fournir le service ou le produit requis ou de garantir la qualité du service. la fourniture de ce service ou produit. Cependant, si vous ne fournissez pas de données facultatives, vous pourrez peut-être accéder ou recevoir le service.</p>
    
    <h5>4.Comment partageons-nous vos données?</h5>
    <p>Vos données peuvent être partagées et communiquées à nos partenaires, à des tiers de confiance, à nos prestataires de services, à nos partenaires commerciaux, basés dans et hors de l’Union européenne, dans la mesure où ils sont soumis à des obligations contractuelles appropriées et ne peuvent les utiliser qu’aux fins. mentionné ci-dessus.
    Vos données peuvent également être divulguées à des tiers lorsque la loi l’exige, pour assurer et maintenir notre sécurité et celle de MyEco Montre, pour protéger nos droits ou intérêts ou ceux de Awake Design, pour répondre à toute commande des autorités publiques, ou pour faire valoir nos droits devant les autorités judiciaires.</p>
    
    <h5>5. Comment transférons-nous vos données?</h5>
    <p>Afin d’effectuer certaines opérations relatives au traitement des Données énumérées ci-dessus, nous pouvons être amenés à transférer vos Données vers des pays en dehors de l’Espace économique européen (EEE), y compris le stockage de ces Données dans des bases de données. des données numériques ou physiques gérées par des entreprises agissant en notre nom. La gestion de ces bases de données et le traitement des Données sont limités à la seule finalité du traitement et sont effectués conformément aux lois et règlements applicables en matière de protection des données.
    Si vos données sont transférées en dehors de l’EEE, nous mettrons en œuvre toutes les mesures contractuelles appropriées pour assurer la protection adéquate de vos données, y compris des accords basés sur les clauses standard de protection des données adoptées par la Commission européenne applicables aux données. transfert de données personnelles en dehors de l’EEE.</p>
    
    <h5>6. Conservation de vos données</h5>
    <p>Nous stockons vos données dans nos systèmes et archives aussi longtemps que nécessaire pour poursuivre les objectifs décrits dans la présente déclaration de confidentialité, en tenant compte, le cas échéant, des exigences légales et contractuelles.
    Lorsque vos données ne sont plus nécessaires aux fins pour lesquelles elles ont été traitées, elles sont supprimées ou stockées sous une forme qui ne permet plus de vous identifier, à condition que nous ne soyons pas légalement tenus ou autorisés à conserver ces données. Nous pouvons également continuer à stocker des données pendant une période prolongée, si nécessaire pour protéger nos intérêts dans le cas de notre responsabilité pour la fourniture de services ou de produits ou le traitement des données. Les données traitées à des fins de marketing et de profilage seront conservées jusqu’à ce que vous retiriez votre consentement et, dans tous les cas, conformément aux principes et directives susmentionnés fournis par les autorités compétentes en matière de protection des données personnelles.</p>
    
    <h5>7. Vos droits concernant vos données</h5>
    <p>Vous pouvez exercer vos droits tels que définis par les lois et réglementations applicables, notamment:</p>
    
    <p>Droit d’accès: le droit d’obtenir la confirmation du responsable du traitement que vos données sont ou ne sont pas traitées et, le cas échéant, de demander l’accès à vos données.<br>
    Droit de rectification: le droit d’obtenir du Responsable du traitement la rectification des Données que vous estimez imprécises ou incomplètes, y compris en fournissant une déclaration supplémentaire.<br>
    Droit de rétractation: le droit d’obtenir du Responsable du traitement l’effacement de vos Données dans les meilleurs délais, lorsque la demande est faite conformément aux lois et règlements applicables.<br>
    Droit d’opposition: le droit de s’opposer à tout moment au traitement de vos données, sauf si le responsable du traitement démontre l’existence de raisons légitimes et impérieuses pour le droit.<br>
    Droit de limiter le traitement: le droit d’obtenir du responsable du traitement une limitation des activités de traitement lorsque l’exactitude et l’exactitude des données sont contestées pendant une période permettant au responsable du traitement de vérifier l’exactitude des données.<br>
    Droit à la portabilité des données: le droit de recevoir les données que vous avez fournies au responsable du traitement dans un format structuré, couramment utilisé et lisible par machine. Vous avez également le droit de transférer ces données à un autre responsable du traitement sans pouvoir interférer avec celles-ci lorsque le traitement est basé sur un consentement ou un contrat et effectué à l’aide de processus automatisés.<br>
    Droit de réclamation: sans préjudice de tout litige administratif ou judiciaire, si vous estimez que le traitement de vos Données a été effectué illégalement ou non conformément aux lois et règlements en vigueur, vous êtes en droit d’introduire une réclamation auprès du Autorité de contrôle de l’État membre dans lequel vous résidez ou travaillez habituellement, ou de l’État membre dans lequel une violation s’est produite.<br></p>
    
    <p>Vous pouvez exercer les droits susmentionnés en nous contactant comme suit:</p>
    
    <p>– En remplissant le formulaire en ligne ici https://www.myecomontre/contact/</p>
    
    <p>– En écrivant un email à myecomontre@gmail.com ; dans ce cas</p>
    
    <p>Si vous nous envoyez une demande, nous nous réservons le droit de vous demander des informations complémentaires afin que nous puissions vérifier votre identité et vous contacter si nécessaire. Ces informations, ainsi que d’autres données dont nous disposons déjà, seront ensuite traitées pour répondre à votre demande, conformément à la loi applicable. Le cas échéant, certaines informations pourront être transmises à des sociétés de traitement de données externes afin de répondre à votre demande. Vos données seront traitées pendant le temps nécessaire pour évaluer et gérer votre demande, puis stockées pendant une période suffisamment longue pour nous permettre de démontrer que la demande a été traitée correctement et en temps opportun.</p>
    
    <h5>8. Mises à jour de cet avis de confidentialité</h5>
    <p>Cet avis de confidentialité a été mis à jour pour la dernière fois en février 2019. Nous nous réservons le droit de modifier ou de mettre à jour cet avis de confidentialité périodiquement pour refléter l’évolution des exigences légales ou de nos activités de traitement. Nous publierons toutes les mises à jour sur ce site Web, qui seront effectives dès leur publication. Nous vous encourageons à consulter périodiquement cet avis de confidentialité pour savoir comment nous traitons vos données.</p>
</div>

	{% endblock %}
