{% extends 'base.html.twig' %}

{% block title %} <title>Catégorie</title>
{% endblock %}

{% block body %}
	
		<form class="container w-50 mt-4 mb-5">
			<div class="row">
				<h1>Ajoutez la categorie</h1>

				{{ form_start(form)}}
		
				{{ form_end(form)}}

			</div>
	
	{% endblock %}
