{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}
		<form class="container w-50 mt-4 mb-5">
			<div class="row">
				<h1>Modify</h1>

				{{ form_start(form)}}
				
				{{ form_end(form)}}
			
			</div>
	{% endblock %}
